<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">Agregar Ingreso / Egreso</h4>
            <p class="card-description">
                Especifique el monto y el tipo
            </p>

            <form [formGroup]="form" (ngSubmit)="createIngresoEgreso()">
                
                <div class="form-group">
                <label>Descripción</label>
                <input type="text" 
                        formControlName="description"
                        class="form-control" 
                        placeholder="Descripción"
                        name="descripcion">
                </div>

                <div class="form-group">
                    <label>Monto</label>
                    <input type="number" 
                            class="form-control" 
                            placeholder="Monto"
                            name="monto"
                            formControlName="amount">
                    <p>
                        Debe de ser un monto positivo
                    </p>
                </div>

                <div class="form-group">
                    <label>Tipo</label>
                    <br>
                    <button type="button" class="btn btn-block" 
                            (click)="type === 'ingreso' ? type = 'egreso' : type = 'ingreso'"
                            [ngClass]="{ 'btn-primary': type === 'ingreso', 'btn-danger':  type === 'egreso'}">
                            {{ type === 'ingreso' ? 'Ingreso' : 'Egreso' }}
                    </button>
                </div>

                <hr>
                <button [disabled]="form.invalid" type="submit" class="btn btn-success mr-2">
                    <i class="fa" [ngClass]="{'fa-spin': loading, 'fa-spinner': loading, 'fa-save': !loading}"></i>
                    {{ loading ? 'Agregando...' : 'Agregar' }}
                </button>
                
                <button type="reset" class="btn btn-light">Cancelar</button>

            </form>
            </div>
        </div>
        </div>
</div>
              