<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>

            <table class="table">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let item of items | sortItems">
                    <td>{{item.description}}</td>
                    <td>{{item.amount | currency}}</td>
                    <td class="font-weight-bold" [ngClass]="{'text-success': item.type === 'ingreso', 'text-danger': item.type === 'egreso'}">
                        {{item.type}}
                    </td>
                    <td>
                        <button (click)="deleteItem(item)" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i> 
                            Borrar 
                        </button>
                    </td>
                </tr>
                </tbody>

            </table>


            </div>
        </div>
    </div>
</div>
      